body#front {
	margin-top: 135px;
}

#front .navbar {
	height: 135px;
	margin: 0;
	padding: 0;
}

.menu-item > .nav-link {
	height: 4rem;
}

.menu-item.dropdown {
}

.menu-item-icon {
	width: 3rem;
	height: 3rem;
}